.jessica-white {
  margin-top: 25px;
  height: 70px;
}

.logo {
height: 100%;
background-image: url(../img/Selection_002.png);
background-size: cover;
}
.main-menu {
height: 100%;
}
.social-media.icons{
width: 50%;
}
.menu{
height: 50%;
}
.main-image {
  margin-top: 10px;
  height: 450px;
  background-image: url(../img/1_003.jpg);
  background-size: cover;
  background-position: center;
}
.social-media-icons ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.social-media-icons ul li {
width: 30px;
height: 30px;
border-radius: 50%;
background: #ccc;
color: #fff;
line-height: 30px;
text-align: center;
text-shadow: 1px 2px 1px #aaa;
box-shadow: 1px 1px 1px #ccc;
}
.menu ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  line-height: 18px;
}
.menu ul a{
  height: 18px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 10px;
  text-shadow: 1px 2px 1px #aaa;
}
                                                /*4 icons*/
.icon-div{
  margin: 40px 0px;
}
.icon-div>div ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}
.icon-div a,li,h1,p {
  text-decoration: none;
  color:#000;
}
/*ul a:hover{
  color: red;
}*/
.icon-div p {
font-size: 12px;
text-shadow: 1px 2px 1px #aaa;

}
.icon-div h1 {
font-size: 18px;
text-shadow: 1px 2px 1px #aaa;

}
.section3-h {
  margin-top: 5px;
  line-height: 1;
  font-size: 18px;
  color: #000;
  font-weight: bold;
  text-shadow: 1px 2px 1px #aaa;
}
.future-heading {
  height: 50px;
}
.left-text {
  line-height: 50px;
  text-shadow: 1px 2px 1px #aaa;
}
.right-logo {
  line-height: 50px;
  font-size: 12px;
  text-shadow: 1px 2px 1px #aaa;
  text-align: right;
}
.featured-images {
  height: 230px;
}
.image-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fff;
}
.images {
  height: 100%;
  background-size: cover;
  background-position: center;
  background: #fff;
}
.images img {
  border-radius:5px;
  width: 100%;
  height: 90%;
  box-shadow: 2px 2px 2px #aaa;
}
.images img:hover {
  width: 105%;
  height: 93%;
  box-shadow: 5px 5px 5px #000;
  transition: all  .7s ease;
}
.egestas  {
  padding-right:20px;
  text-align: justify;
}
.egestas h1 {
  padding: 0;
  line-height: 50px;
  text-transform: uppercase;
  color: #313131;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 21px;
}
.egestas p {
font-family: Arial;
font-size: 12px;
line-height: 18px;
color: #313131;
}
.egestas p a {
text-decoration: none;
color: red;
}
.news{}
.news-icon{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #aaa;
  font-size: 17px;
}
.article {
  position: relative;
}
.article-head {
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #d00b01;
  width:170px;
  height: 40px;
  line-height: 17px;
  position: absolute;
  right: 0px;
  top:10px;
}
.tags{
  font-size: 12.5px;
  line-height: 16px;
  font-style: italic;
  font-family: Arial;
  text-decoration: none;
}
.parag {
  font-size: 12.5px;
  line-height: 16px !important;
  font-style: normal;
  font-family: Arial;
  text-shadow: 0px 1px 1px 1px black;
  text-align: justify;
}
.parag a , .tags a{
  text-decoration: none;
  color:red;
}

.image img{
  height: 60%;
  width: 100%;
  background-size: cover;
  border-radius: 6px;
}
.image h1 {
  padding: 0;
  margin: 8px 0 10px 0;
  line-height: 18px;
  text-transform: uppercase;
  color: #313131;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 16px;
}
.image img:hover {
  width: 105%;
  height: 65%;
  box-shadow: 5px 5px 5px #000;
}
.bold-line {
  border: 0;
  height:3px;
  background: #000;
}

                                          /*footer sectioon*/

.footer-container {
  display: flex;
  justify-content: space-between;
}
.colon {
  height: 300px;
}

                                              /*GET IN TOUCH*/
.input{
  background-color: rgba(195, 195, 195, 0.64);
  border-radius: 3px;
}

.text-area {
  box-sizing: border-box;
  padding: 8px 5px;
  background: rgba(195, 195, 195, 0.64);
}

.input:hover {
  box-shadow: 1px 1px 10px rgba(33, 135, 153, 0.97);
}

  .text-area:hover{
    box-shadow: 1px 1px 10px rgba(33, 135, 153, 0.97);
  }
                                                /*get in touch-buttons*/

.button-gray  {
  width: 90px;
  height: 35px;
  background: #424242;
  border-radius: 3px;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 35px;
  text-align: center;
  color: #fff;
  font-size: 10px;
}
.button-gray:hover {
  color: rgba(33, 135, 153, 0.97);
}
.button-red  {
  font-size: 10px;
  width: 70px;
  height: 35px;
  background:#851a1a;
  border-radius: 3px;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 35px;
  text-align: center;
  color: #fff;
}
.button-red:hover{
  color: rgba(33, 135, 153, 0.97);
}
                                             /*testimanials*/
.colon>p {
  color: red;
}
.parag>i {
  color: red;
  line-height: 16spx;
}
                                                        /*flickr*/

.footer-container>div:last-child{
  box-sizing: border-box;
  padding-left: 20px;
}
.flickr{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mini-photos img{
width: 100%;
}
                                                          /*HOVER*/
.flickr a:hover {
  border-radius: 3px;
  box-shadow: 0px 0px 10px 1px black;
}

                                                          /*bottom-footer*/

.bottom-footer {
  background: #1e1e1e;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bottom-footer>.wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

                                                        /*left content*/
.left-content>p {
  color: #303030;
}
.left-content{
  height: 100%;
  box-sizing: border-box;
}

.right-content {
  margin-top: 50px;
  }                                                         /*right content*/
.foot-menu ul{
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.foot-menu ul a{
  text-decoration: none;
  color: #aaa;
}
.foot-menu ul a:hover{
  text-shadow: 1px 2px 1px #aaa;
  color: red;
}
.media-icons ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.media-icons ul li {
  width: 30px;
  height: 30px;
  border: 0;
  color: #303030;
  line-height: 30px;
  text-align: center;
  text-shadow: 1px 2px 1px #aaa;
}
